@charset "ISO-8859-1";

body{
	font-family: 'Assistant', sans-serif;
	background-color: #F7F9F9;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	text-align: center;
}

#navigation{
	background-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-color: #E5E7E9;
	font-family: 'Assistant', sans-serif;
}

#header-con{
	padding-top: 50px;
	padding-bottom: 50px;
}